<!DOCTYPE html>
<html>
	<head>
		<title>Pictures</title>
		<link rel="stylesheet" href="style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>
	<body>
	   <div id="container">
       {{> menu}}
			 {{> picsheader}}
				{{> picsform}}
				{{{pic1}}}
        {{{pic2}}}
        {{{pic3}}}
        {{{pic4}}}
        {{{pic5}}}
        {{{pic6}}}
      </div>
      <div id="footer">
        {{> footer}}
      </div>
	</body>
</html>
